.container {
  display: flex;
  align-items: center;
 padding-left: 180px;
 justify-content: flex-start;
height: 100vh;
}
.timeContainer {
  display: flex;
  gap: 16px;
  justify-content: center;
  font-family: "Great Vibes";
  color: white;
  font-size: xx-large;
}
.timeBox {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}
.title {
  font-family: "Great Vibes";
  font-size: 60px;
  font-weight: 700;
  text-align: center;
  color: white;
  text-shadow: 0 0 6px rgba(255, 255, 255, 0.9); 
}
.blurBox{
     background: rgba(255, 255, 255, 0.12);
     backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(224, 218, 218, 0.4);
  display: inline-block;
  border-radius: 16px;
}